@CHARSET "UTF-8";


body {
    
   font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #219AB3;
    background-color: #000;
    font-size: 30px;
   
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
ul{
	font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #219AB3;
}


.navbar{
	
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #219AB3;
    background-color: #000;
}
.navbar.a{
	font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #219AB3;
	
}

img {
   
   max-width: 100%;
     
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}


.table-hover{
	 font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #219AB3;
    background-color: #000;
    font-size: 30px;
   
}

td.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

td.btn-default {
    border: 1px solid #fefdfb;
    color: #fefdfb;
    background-color: transparent;
}


.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #fefdfb;
    color: #fefdfb;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}



.well {
   background-color:#000000;
   border-style: solid;
    border-color: #fefdfb;
    box-sizing: border-box;
    
}

label {	display: block;
	position: relative;
	left: 3em;
	top: 1.2em;
}

textarea {
		display: block;
	position: relative;
	left: 9em;
	top: -0.5em;
	
	
}
input {	display: block;
	position: relative;
	left: 9em;
	top: -0.5em;
}
input {
	background-color:#000000; 
         
}

textarea {
	background-color:#000000; 
              
}

#delete{
 
    
}

h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}